input{
    width: 50px;
}
.game-box_screen{
    background-color:rgb(10,10,10,1);
    margin:auto;
}
.game-box{
    background-color:rgba(50,50,50,1);
    margin-top:1vh;
    width:100%;
    min-height:50vh;
    box-shadow: 0px -5px 53px -4px rgba(0,0,0,0.75);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}
.box-block{
    width:64px;
    height:64px;

    background-color:rgb(10,10,10,1);
    float:left;
}
body{
    margin: 0;
    padding: 0;
}
#container{
    margin-top: 10px;
}