@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
	background-color: #111;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
/* Loading Screen */
.loading-screen {
	position: absolute;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #222222;
	top: 0;
	text-align: center;
	color: white;
	z-index: 1;
	transition: 0.5s all ease-in-out;
}
.loading-screen img {
	position: absolute;
	animation: 2s running infinite;
	animation-name: running;
	animation-duration: 6s;
	width: 10vw;
	height: 15vh;
	transform: scaleX(-1);
}
#box-loader {
	position: absolute;
	animation: 2s running infinite;
	animation-name: moving-box;
	animation-duration: 6s;
	width: 10vw;
	height: 15vh;
	transform: scaleX(-1);
}
/* The running effect */
@keyframes running {
	0% {
		left: 0;
	}
	50% {
		left: 80vw;
	}
	100% {
		left: 0;
	}
}
@keyframes moving-box {
	0% {
		left: 10vw;
	}
	50% {
		left: 90vw;
	}
	100% {
		left: 10vw;
	}
}
.off {
	opacity: 0;
	z-index: -1;
}
.difficult {
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	width: 350px;
	height: 125px;
	background-color: #222222;
	transition: 0.4s all ease-in-out;
	overflow: hidden;
}
.difficult h4 {
	margin: 0;
	font-size: 25px;
	color: white;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
.difficult .ncinput {
	margin-top: 10px;
	display: block;
	float: left;
}
#easy {
	background-color: green;
}
#medium {
	background-color: orange;
}
#hard {
	background-color: red;
}
.chosen {
	width: 0;
	height: 0;
}
/* nav */
nav {
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 7.5px 7.5px 0 0;
}
h1 {
	padding-top: 10px;
	padding-left: 15px;
	margin: 0;
	float: left;
	text-shadow: 1px 1px #fff;
}
nav ul {
	float: right;
}
nav ul li {
	float: left;
	display: block;
	width: 15vw;
	text-align: center;
	margin: 0;
	cursor: pointer;
	transition: 0.1s all ease-in-out;
	font-size: 20px;
}
nav ul li:hover {
	color: #dddddd;
	cursor: pointer;
}
body {
	background-color: #111;
	margin: 0;
	padding: 0;
}

/* MAIN CONTAINER */
.game-container {
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
/* header */

.game-header {
	width: 100%;
	height: 9vh;
	background-color: rgba(25, 25, 25, 1);
	box-shadow: 0px 25px 53px -4px rgba(0, 0, 0, 0.75);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0px 5px;
}

.game-header_utilities-bar {
	list-style-type: none;
	color: #fff;
	width: 100%;
	margin: auto;
	margin-top: 5px;
}
.game-header_utilities-bar li {
	display: inline;
	float: left;
	font-size: 36px;
	margin-left: 10px;
}
.level-select {
	color: red;
}
.level {
	cursor: pointer;
}
.game-header_utilities-bar li::before {
	content: " | ";
}
.game-header_utilities-bar li:first-child {
	margin-left: none;
}
.game-header_utilities-bar li:first-child::before {
	content: "";
}

/* BOX */

.game-box {
	background-color: rgba(50, 50, 50, 1);
	margin-top: 1vh;
	width: 100%;
	min-height: 50vh;
	box-shadow: 0px -5px 53px -4px rgba(0, 0, 0, 0.75);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 20px 5px 20px;
}

#game {
	position: relative;
	transform: translateX(-50%);
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
}
/* */

.box-block {
	width: 64px;
	height: 64px;

	background-color: rgb(10, 10, 10, 1);
	float: left;
}

.game-box_screen {
	background-color: rgb(10, 10, 10, 1);
	margin: auto;
}
.game-item {
	width: 64px;
	height: 64px;
}

.point {
	background: rgba(226, 99, 99, 0.993);
	width: 64px;
	height: 64px;
}

/* FOOTER */

.page-footer {
	text-align: center;
	width: 100%;
	padding: 10px 0px;

	border-top: 1px solid rgba(0, 0, 0, 1);
	background-color: rgba(10, 10, 10, 1);
	color: rgba(50, 50, 50, 1);

	margin-top: 250px;
}

/* FOOTER */
.page-footer {
	margin-top: 150px;
	width: 100%;
	height: 50px;
	padding: 25px 0px;

	color: #fff;
	/*background-color:#9400d3;*/
	background-color: rgb(2, 2, 2, 0.5);
	border-top: 2px solid #fff;

	font-family: "Dosis", sans-serif;
}

.page-footer_holder {
	width: auto;
	max-width: 890px;
	height: 100%;
	margin-left: 25px;
	margin: auto;
}

.page-footer_left {
	float: left;
}
.page-footer_right {
	margin-top: 10px;
	float: right;
	margin-right: 50px;
}
.page-footer_right a {
	color: #007bff;
	text-decoration: none;
}

.page-footer_image {
	width: 96px;
	float: left;
}

.page-footer_subtitle {
	font-size: 14px;
}
/*Info*/
#moves:before {
	content: "Moves: ";
}
#info {
	color: white;
	letter-spacing: 3px;
	font-size: 15px;
}
/*Won screen*/
.won {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	width: 400px;
	background-color: #111;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	white-space: nowrap;
	border-right: 3px solid white;
	display: none;
	animation: changeWidth 2s steps(40, end), cursorEffect 0.75s step-end infinite;
}
.next-level {
	cursor: pointer;
	transition: 0.2s all ease-in-out;
}
.next-level:hover {
	color: #c2c2c2;
}
@keyframes changeWidth {
	from {
		width: 0;
	}
	to {
		width: 375px;
	}
}
@keyframes cursorEffect {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: white;
	}
}
