body{
    background-color:#111;
    margin:0;
    padding:0;
}




/* MAIN CONTAINER */
.game-container{
    width:75vw;
    height:60vh;
    margin-left:auto;
    margin-right:auto;
    margin-top:20vh;
}

/* header */

.game-header{
    width:100%;
    height:9vh;
    background-color:rgba(25,25,25,1);
    box-shadow: 0px 25px 53px -4px rgba(0,0,0,0.75);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 5px;
} 

.game-header_utilities-bar{
    list-style-type:none;
    color:#fff;
    width:500px;
    margin:auto;
    margin-top:5px;
}
.game-header_utilities-bar li {
    display:inline;
    float:left;
    font-size:36px;
    margin-left:25px;
}
.game-header_utilities-bar li::after{content: " |"}
.game-header_utilities-bar li:first-child{margin-left:none;}
.game-header_utilities-bar li:last-child::after{content: none;}

/* BOX */

.game-box{
    background-color:rgba(50,50,50,1);
    margin-top:1vh;
    width:100%;
    min-height:50vh;
    box-shadow: 0px -5px 53px -4px rgba(0,0,0,0.75);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

#game{
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:50%;
    height:100%;
    background-color:rgba(255,255,255,1);
}
/* */


.box-block{
    width:64px;
    height:64px;
    margin-left:1px;
    margin-top:1px;
    background-color:rgb(10,10,10,1);
    float:left;
}

.game-box_screen{
    width:521px;
    height:521px;
    background-color:white;
    margin:auto;
    border: 5px;
}
.game-item{
    width:64px;
    height:64px;
}






/* FOOTER */
.page-footer{
    text-align:center;
    width:100%;
    padding: 1.5vh 0px;

    border-top: 1px solid rgba(0,0,0,1);
    background-color:rgba(10,10,10,1);
    color:rgba(50,50,50,1);

    position:fixed;
    bottom:0;
}
