@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
body {
	background-color: #111;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
/* Loading Screen */
.loading-screen {
	position: absolute;
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #222222;
	top: 0;
	text-align: center;
	color: white;
	z-index: 1;
	transition: 0.5s all ease-in-out;
}
.dots {
	margin-left: auto;
	margin-right: auto;
}
.dots li {
	float: left;
	margin: 0 10px;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	animation: loader 0.4s ease-in-out infinite alternate;
}
.dots li:nth-child(2) {
	animation-delay: 0.2s;
}
.dots li:nth-child(3) {
	animation-delay: 0.4s;
}
@keyframes loader {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-1em);
	}
}
.off {
	opacity: 0;
	z-index: -1;
}
.window {
	opacity: 1;
	visibility: visible;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	width: 350px;
	height: 135px;
	background-color: #222222;
	transition: 0.2s all ease-in-out;
	overflow: hidden;
}
.chosen {
	visibility: hidden;
	opacity: 0;
}
.window h4 {
	margin: 0;
	margin-top: 10px;
	font-size: 25px;
	color: white;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
.window .ncinput {
	margin-top: 10px;
	display: block;
	float: left;
}
.module {
	visibility: hidden;
	opacity: 0;
}
#easy {
	background-color: rgb(0, 255, 0);
}
#easy:hover {
	background-color: rgb(100, 255, 100);
}
#easy:hover + #easy-tooltip {
	visibility: visible;
	opacity: 1;
}
#medium {
	background-color: orange;
}
#medium:hover + #medium-tooltip {
	visibility: visible;
	opacity: 1;
}
#medium:hover {
	background-color: rgb(255, 201, 100);
}
#hard {
	background-color: rgb(255, 0, 0);
}
#hard:hover + #hard-tooltip {
	visibility: visible;
	opacity: 1;
}
#hard:hover {
	background-color: rgb(255, 100, 100);
}
.module1:hover + #module1-tooltip {
	visibility: visible;
	opacity: 1;
}
.module2:hover + #module2-tooltip {
	visibility: visible;
	opacity: 1;
}
.module3:hover + #module3-tooltip {
	visibility: visible;
	opacity: 1;
}
.tooltip {
	visibility: hidden;
	opacity: 0;
	width: 300px;
	height: 20px;
	background-color: #303030;
	color: white;
	font-size: 15px;
	border-radius: 5px;
	position: absolute;
	top: 115px;
	transition: 0.2s all ease-in-out;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}
.module .tooltip {
	top: 90px;
}
#module2-tooltip {
	height: 40px;
}
/* nav */
nav {
	width: 100%;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-radius: 7.5px 7.5px 0 0;
}
h1 {
	padding-top: 10px;
	padding-left: 15px;
	margin: 0;
	float: left;
	text-shadow: 1px 1px #fff;
}
nav ul {
	float: right;
}
nav ul li {
	float: left;
	display: block;
	width: 15vw;
	text-align: center;
	margin: 0;
	cursor: pointer;
	transition: 0.1s all ease-in-out;
	font-size: 20px;
}
nav ul li:hover {
	color: #dddddd;
	cursor: pointer;
}
body {
	background-color: #111;
	margin: 0;
	padding: 0;
}

/* MAIN CONTAINER */
.game-container {
	width: 75%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
/* header */

.game-header {
	width: 100%;
	height: 9vh;
	background-color: rgba(25, 25, 25, 1);
	box-shadow: 0px 25px 53px -4px rgba(0, 0, 0, 0.75);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0px 5px;
}

.game-header_utilities-bar {
	list-style-type: none;
	color: #fff;
	width: 100%;
	margin: auto;
	margin-top: 5px;
}
.game-header_utilities-bar li {
	display: inline;
	float: left;
	font-size: 36px;
	margin-left: 10px;
}
.level-select {
	color: red;
}
.level {
	cursor: pointer;
	float: left;
	margin: 10px 15px;
	width: 16px;
	height: 16px;
	border: 1px solid white;
	border-radius: 10px;
	padding: 5px;
	transition: .5s all ease-in-out;
}
.level:hover{
	border: 1px solid gold;
	color: gold;

}
.game-header_utilities-bar li::before {
	content: " | ";
}
.game-header_utilities-bar li:first-child {
	margin-left: none;
}
.game-header_utilities-bar li:first-child::before {
	content: "";
}

/* BOX */

.game-box {
	background-color: rgba(50, 50, 50, 1);
	margin-top: 1vh;
	width: 100%;
	min-height: 50vh;
	box-shadow: 0px -5px 53px -4px rgba(0, 0, 0, 0.75);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 20px 5px 20px;
}

#game {
	position: relative;
	transform: translateX(-50%);
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
}
/* */

.box-block {
	width: 64px;
	height: 64px;

	background-color: rgb(10, 10, 10, 1);
	float: left;
}

.game-box_screen {
	background-color: rgb(10, 10, 10, 1);
	margin: auto;
}
.game-item {
	width: 64px;
	height: 64px;
}

.point {
	background: rgba(226, 99, 99, 0.993);
	width: 64px;
	height: 64px;
}
/*Info*/
#moves:before {
	content: "Moves: ";
}
#info {
	color: white;
	letter-spacing: 3px;
	font-size: 15px;
}
/*Won screen*/
.winlose {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	width: 450px;
	height: 200px;
	background-color: #111;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	white-space: nowrap;
	visibility: hidden;
	opacity: 0;
	transition: 0.2s all ease-in-out;
}
.shown {
	visibility: visible;
	opacity: 1;
}
.winlose div {
	margin: 10px;
}
.next-level {
	margin-top: 40px;
}
.arrow-onclick {
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	margin-left: 5px;
	margin-right: 5px;
}
.arrow-onclick:hover {
	color: #c2c2c2;
}
#lose h2 {
	color: rgb(255, 87, 87);
}
#lose .next-level {
	margin-top: 100px;
}


.navbar-box{
	width:100%;
	padding: 25px 0px;
	background-color:rgba(0,0,0,0.75);
	color:rgb(255,255,255);
}
.nav{
	width:1100px;
	margin:auto;
	font-size:28px;
}
.nav ul li{
	list-style-type:none;
	display:inline-block;
	margin-left:25px;
}.nav ul li:first-child{margin:0;}
.nav ul li:hover{cursor:pointer;}
	.nav ul > li > a{
		text-decoration:none;
		color:white;
	}
	
	#level_list,#ranking{
		width: 800px;
		height: 360px;
		padding: 50px 100px;
		border-radius: 5px;
		position:absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		background-color:rgba(25,25,25,1);
		color:rgb(255,255,255);
		text-align:center;
		box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.75);
	
		z-index:-3333;
		opacity:0;
	}
	
	#level_list h1,#ranking h1{
		font-weight:normal;
	}
	#level_list p,#ranking p{
		font-size:19px;
	}
	
	.levels-box, .ranking-box{
		width:600px;
		min-height:250px;
		padding: 15px 5px;
		background-color:rgba(0,0,0,0.75);
		color:white;
		margin:auto;
		border-radius:15px;
	}
	
	.close-levels-menu, .close-ranking-menu{
		padding: 5px 7px;
		background-color:red;
		color:white;
		position:absolute;
		top:0;
		right:0;
	}.close-levels-menu:hover,.close-ranking-menu:hover{cursor:pointer;}

/* FOOTER */
.page-footer {
	width: 100%;
	height: 125px;
	padding: 25px 0px;

	color: #fff;
	/*background-color:#9400d3;*/
	background-color: #050505;

	font-family: "Dosis", sans-serif;

	user-select:text;

	margin-top:63px;
}
.page-footer_holder {
	width: auto;
	max-width: 1250px;
	height: 100%;
	margin-left: 25px;
	margin: auto;
}

.page-footer_left {
	float: left;
	margin-left:50px;
}
.page-footer_right {
	margin-top: 10px;
	float: right;
	margin-right: 50px;
	margin-top:100px;
    
}
.page-footer_right a {
	color: #007bff;
	text-decoration: none;
	float:right!important;
}

.page-footer_image {
	width: 96px;
	float: left;
}
.page-footer_header{
    font-size: 38px;
    font-weight: bolder;
}
.page-footer_subtitle {
	font-size: 14px;
}

@media all and (max-width:515px){
	.page-footer_image {
		width: 64px;
		float: left;
	}
	.page-footer_header{
		font-size: 28px;
		font-weight: bolder;
	}
	.page-footer_subtitle {
		font-size: 12px;
	}
}

@media all and (max-width:434px){
	.page-footer_image {
		width: 64px;
		float: left;
	}
	.page-footer_header{
		font-size: 22px;
		font-weight: bolder;
	}
	.page-footer_subtitle {
		font-size: 10px;
	}
}

@media all and (max-width:385px){
	.page-footer_left {
		float: left;
		margin-left:50px;
	}
	.page-footer_right {
		margin-top: 25px;
		float: left;
		margin:0;
		margin-left: 50px;
	}
	.page-footer_right a{
		float:left!important;
	}
	.page-footer_image {
		width: 48px;
		float: left;
	}
	.page-footer_header{
		font-size: 22px;
		font-weight: bolder;
	}
	.page-footer_subtitle {
		font-size: 12px;
	}
}